<%- include("partials/header") %> 



<div class="container">
    <div class="row">
        <div class="col-3 offset-4">
            <h1>Home Page</h1>
        </div>
    </div>
    <div class="row align-items-start justify-content-center">
        <div class="offset-2">
            <% objectArray.forEach(element => { %>
                <div class="col-3 order card">
                    <h2>Name: <%= element.name %> </h2>
                    <p>Description: <%= element.description %> </p>
                    <p>Age: <%= element.age %> </p>
                </div>

            <% }) %>
        </div>
    </div>
</div>

<%- include("partials/footer") %> 




