<%- include('partials/header') %>

<body id='results_container'>
    <%- include('partials/navbar') %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg">
            <h1 class='ml-5'>Now Playing at a Theater Near You</h1>
            <% data.forEach(el => { %>
                <div class='movie-info'>
                    <h1><%= el.title %></h1>
                    <p><%= el.overview %></p>
                    <p>Rating <%= el.vote_average%> out of 10 stars</p>
                    <% let path = `https://image.tmdb.org/t/p/w400/${el.poster_path}` %>
                    <img src="<%= path %>" alt="<%= el.title %>">
                </div>
            <% }) %>


<%- include('partials/footer') %>